.activities .action-title, .portfolio-item {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.features .list, .activities .list, .team-list, .item-container .team-socials, .list-clients, .footer .address, .footer .social.list, .main-container .buttons, .cards, .site-nav, .contacts, .networks {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-nav .link, .contacts-link {
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.button, .main-container .button {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 6px 22px;
  text-align: center;
  color: #212121;
  background-color: #f5f4fa;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
}

.features .visually-hidden, .visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.item-container .team-socials, .form {
  margin-left: auto;
  margin-right: auto;
}

body {
  background-color: #ffffff;
  color: #757575;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

body.is-open {
  overflow: hidden;
}

body.is-open {
  overflow: hidden;
}

a {
  text-decoration: none;
  display: block;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

p {
  margin: 0;
}

h1,
h2,
h3 {
  margin-top: 0;
}

h3 {
  margin-bottom: 10px;
}

.page-header {
  position: relative;
  background-color: #ffffff;
  border-bottom: 1px solid #eeeeee;
}

.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .nav-container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .nav-container {
    min-height: 60px;
  }
}

.logo {
  display: block;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .logo {
    margin-right: 93px;
  }
}

.logo-dark {
  color: #000000;
}

.logo-white {
  color: #ffffff;
}

.footer-logo {
  margin-bottom: 20px;
}

.hero {
  height: auto;
  max-width: 480px;
  padding-top: 118px;
  padding-bottom: 118px;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-position: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/header-img.480.400.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-img.480.400.jpg);
  text-align: center;
  background-color: #2f303a;
}

.hero-title {
  margin-bottom: 30px;
  color: #ffffff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.06em;
}

@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
    line-height: 1.36;
  }
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../image/header-img.480.400@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/header-img.480.400@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    height: auto;
    max-width: 768px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/header-img.768.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-img.768.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/header-img.768@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-img.768@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    height: 600px;
    max-width: 1600px;
    width: 100%;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/Img1200.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Img1200.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/Img1200@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Img1200@2x.jpg);
  }
}

.main {
  padding: 10px 32px;
  max-width: 200px;
  width: 100%;
  max-height: 50px;
  height: 100%;
  color: #ffffff;
  background-color: #2196f3;
}

.features {
  background-color: var(--hero-color);
}

@media screen and (max-width: 767px) {
  .features .list-positioned .item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features .list-positioned {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .features .list-positioned {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: -15px;
  }
}

.features .item {
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .features .item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .features .item {
    display: block;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: calc(100% - 120px / 4);
  }
}

.features .icon-background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 0;
  background-color: #f5f4fa;
}

@media screen and (min-width: 1200px) {
  .features .icon-background {
    max-width: 270px;
  }
}

.features-title {
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  padding-top: 30px;
}

@media screen and (max-width: 1199px) {
  .activities {
    display: none;
  }
}

.activities {
  padding-bottom: 94px;
  padding-top: 0;
  background-color: #ffffff;
}

.activities .action-title {
  text-align: center;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.16;
}

.activities .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.activities .list .item + .item {
  margin-left: 30px;
}

.thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.thumb .label {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  text-align: center;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: #f5f4fa;
}

.team-item {
  color: #212121;
  text-align: center;
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.17;
}

@media screen and (min-width: 1200px) {
  .team-item {
    font-weight: 700;
    letter-spacing: 0.06em;
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
  }
}

@media screen and (max-width: 767px) {
  .team-list .item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: -15px;
  }
}

.team-list .item {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .team-list .item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .team-list .item {
    display: block;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: calc(100% - 120px / 4);
  }
}

.item-container {
  padding-top: 30px;
  padding-bottom: 24px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.item-container .list-item {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  color: #212121;
}

.item-container .item-text {
  font-size: 16px;
  line-height: 1.9;
  margin-bottom: 16px;
}

.item-container .team-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 206px;
  height: 44px;
}

.social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #afb1b8;
  padding: 0;
  border: none;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover, .social-link:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.social-link .icon {
  fill: currentColor;
}

.heading-clients {
  color: #212121;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .heading-clients {
    font-size: 36px;
    margin-bottom: 50px;
    line-height: 1.17;
  }
}

.list-clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: -15px;
}

@media screen and (max-width: 1199px) {
  .list-clients {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.item-clients {
  margin: 15px;
}

@media screen and (max-width: 768px) {
  .item-clients {
    width: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 768px) {
  .item-clients {
    width: calc((100% - 90px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .item-clients {
    width: calc((100% - 180px) / 6);
  }
}

.item-clients .icon {
  fill: currentColor;
}

.link-clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-clients:hover, .link-clients:focus {
  color: #2196f3;
  border: 1px solid #2196f3;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

@media screen and (max-width: 1199px) {
  .footer {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer .footer-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .footer .footer-contacts {
    margin-right: 70px;
  }
  .footer .subscribe-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer .tablet-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

@media screen and (max-width: 768px) {
  .footer .tablet-footer {
    display: block;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer .tablet-footer {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-right: 74px;
    padding-left: 61px;
  }
}

@media screen and (min-width: 1200px) {
  .footer .tablet-footer {
    margin-right: 93px;
  }
}

.footer .information {
  margin-bottom: 8px;
  color: #ffffff;
  font-style: normal;
}

.footer .mail {
  margin-bottom: 8px;
  color: rgba(255, 255, 255, 0.6);
}

.footer .mail:hover, .footer .mail:focus {
  color: #2196f3;
}

.footer .telefon {
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 1199px) {
  .footer .telefon {
    margin-bottom: 60px;
  }
}

.footer .telefon:hover, .footer .telefon:focus {
  color: #2196f3;
}

.footer .footer-sociallinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1200px) {
  .footer .footer-sociallinks {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}

.footer .social-text {
  font-weight: 700;
  line-height: 1.14;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer .social.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 60px;
}

.footer .social-item + .social-item {
  margin-left: 10px;
}

.footer .icon-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .icon-link:hover, .footer .icon-link:focus {
  background-color: #2196f3;
}

.footer .subscribe-text {
  font-family: inherit;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer .subscribe-input {
  max-width: 450px;
  width: 100%;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0px 4px 4px 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: #2f303a;
}

@media screen and (max-width: 1199px) {
  .footer .subscribe-input {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .footer .subscribe-input {
    margin-right: 12px;
    width: 358px;
    min-height: 50px;
  }
}

.footer .subscribe-input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.footer .subscribe-input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.footer .subscribe-input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.footer .subscribe-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.footer .button-container {
  position: relative;
  max-width: 200px;
  margin: 0 auto;
}

.footer .button-container .subscribe-button {
  width: 100%;
  height: 50px;
  background-color: #2196f3;
  color: #ffffff;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 4px 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  text-align: start;
}

@media screen and (min-width: 1200px) {
  .footer .button-container .subscribe-button {
    width: 200px;
    height: 50px;
  }
}

.footer .button-container .subscribe-icon {
  position: absolute;
  top: 13px;
  right: 28px;
  margin-left: 10px;
}

.backdrop {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 94px;
  padding-left: 15px;
  padding-right: 15px;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: relative;
  max-width: 450px;
  width: 100%;
  padding: 40px;
  margin: auto;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

.modal-button {
  z-index: 2;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover, .modal-button:focus {
  color: #2196f3;
}

.form {
  padding: 0;
}

.heading-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.17;
  text-align: center;
  color: #212121;
  margin-bottom: 12px;
}

.form-field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

.form-input {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 11px 12px;
  padding-left: 42px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:hover {
  border: 1px solid #2196f3;
}

.form-input:focus {
  border-color: #2196f3;
  outline: transparent;
}

.form-field label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.form-textarea {
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  resize: none;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-textarea:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-textarea::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-textarea:hover, .form-textarea:focus {
  border-color: #2196f3;
  outline: transparent;
}

.link-policy {
  display: inline;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #2196f3;
  text-decoration-skip-ink: none;
}

.button.submit {
  display: block;
  max-width: 200px;
  width: 100%;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  letter-spacing: 0.06em;
  color: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.form-field.coment {
  margin-bottom: 20px;
}

.form-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  font-size: 12px;
  line-height: 1.16;
}

.form-container {
  position: relative;
}

.form-picture {
  position: absolute;
  top: 50%;
  left: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:hover + .form-picture,
.form-input:focus + .form-picture {
  fill: #2196f3;
}

.form-checkbox {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.cheked-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 8px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: background-size 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-size 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-checkbox:hover + .cheked-icon,
.form-checkbox:focus + .cheked-icon {
  border: 2px solid #2196f3;
}

.form-checkbox:checked + .cheked-icon {
  border-color: transparent;
  background-color: #2196f3;
  background-image: url("../images/icon check (2) (1).svg");
  background-size: contain;
}

.main-container {
  background-color: #ffffff;
}

@media screen and (max-width: 767px) {
  .main-container .buttons {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 40px;
    margin: -7px -4px;
    margin-bottom: 40px;
  }
  .main-container .buttons .item {
    margin: 7px 4px;
  }
}

.main-container .buttons .item + .item {
  margin-left: 8px;
}

@media screen and (min-width: 768px) {
  .main-container .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .main-container .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 50px;
  }
}

.main-container .button {
  -webkit-transition: color, background-color, -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color, background-color, -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color, background-color, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color, background-color, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-container .button:hover, .main-container .button:focus {
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.cards {
  z-index: -1;
}

@media screen and (min-width: 768px) {
  .cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

.list-element {
  outline: 1px solid #eeeeee;
  background: #ffffff;
}

@media screen and (min-width: 768px) {
  .list-element {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .list-element {
    width: calc((100% - 90px) / 3);
    margin: 15px;
  }
}

.link-element {
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-element:hover, .link-element:focus {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.box {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.55;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-element:hover .overlay,
.link-element:focus .overlay {
  -webkit-transform: translatey(-100%);
          transform: translatey(-100%);
}

@media screen and (max-width: 767px) {
  .overlay {
    padding: 77px 24px;
  }
}

@media screen and (min-width: 768px) {
  .overlay {
    padding: 49px 24px;
    font-size: 16px;
  }
}

@media screen and (min-width: 1200) {
  .overlay {
    padding: 63px 24px;
  }
}

.portfolio-element {
  padding: 20px 24px;
}

.portfolio-item {
  text-align: left;
  margin-bottom: 4px;
}

.portfolio-text {
  color: #757575;
  font-size: 16px;
  line-height: 1.87;
}

.menu-container {
  z-index: 1;
  background-color: #ffffff;
  text-align: center;
  font-size: 40px;
}

@media screen and (max-width: 767px) {
  .menu-container {
    padding: 48px 40px;
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    min-height: 100vw;
    height: 100%;
  }
  .menu-container.is-open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.menu-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  fill: currentColor;
}

.menu-button:hover, .menu-button:focus {
  fill: #2196f3;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button .icon-cross {
  display: none;
}

.menu-button .menu-icon {
  z-index: 2;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

@media screen and (max-width: 767px) {
  .site-nav {
    text-align: start;
  }
  .site-nav .item:not(:last-child) {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 768px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 84px;
    margin-right: 84px;
  }
}

@media screen and (min-width: 1200px) {
  .site-nav {
    margin: 0;
  }
}

.site-nav .item {
  position: relative;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  display: block;
  font-size: 40px;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .site-nav .link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .site-nav .link::after {
    position: absolute;
    bottom: -1px;
    border-radius: 2px;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    opacity: 0;
    background-color: #2196f3;
    -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.site-nav .link:hover, .site-nav .link:focus {
  color: #2196f3;
}

.site-nav .link.current {
  color: #2196f3;
}

.site-nav .link.current::after {
  opacity: 1;
}

.link:hover::after,
.link:focus::after {
  opacity: 1;
}

@media screen and (max-width: 767px) {
  .contacts {
    text-align: start;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 305px;
  }
  .contacts .item + .item {
    margin-left: 50px;
  }
}

.contacts-link {
  display: block;
  color: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .contacts-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 0.8;
    letter-spacing: 0.02em;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}

.contacts-link:hover, .contacts-link:focus {
  color: #2196f3;
}

.contacts-link .contacts-icon {
  margin-right: 8px;
  fill: currentColor;
}

@media screen and (max-width: 767px) {
  .contacts-link .contacts-icon {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .contacts-link .text-between {
    font-size: 28px;
  }
}

@media screen and (max-width: 767px) {
  .contacts-link .text-between.accent {
    font-size: 28px;
  }
  .contacts-link .text-between.accent:hover, .contacts-link .text-between.accent:focus {
    font-size: 36px;
  }
}

.networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .networks {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .networks {
    display: none;
  }
}

.networks-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  margin-left: auto;
  letter-spacing: 0.02em;
}

.networks-text {
  color: #757575;
}

.networks-text:hover, .networks-text:focus {
  color: #2196f3;
}

.networks-line {
  margin-left: 10px;
  color: rgba(33, 33, 33, 0.2);
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
/*# sourceMappingURL=main.css.map */