.visually-hidden {
  @extend %visually-hidden;
}

.main-container {
  //   @extend %container;
  //   @extend %padding-top-bottom;
  background-color: $hero-color;

  .buttons {
    @extend %list;
    // justify-content: center;

    @media screen and (max-width: 767px) {
      display: inline-flex;
      flex-wrap: wrap;
      margin-bottom: 40px;
      margin: -7px -4px;
      margin-bottom: 40px;

      .item {
        margin: 7px 4px;
      }
    }

    // .item + .item {
    //   margin-left: 8px;
    // }
  }

  .button {
    @extend %button;
    @include transitioned(color, background-color, box-shadow);
    // @include transitioned(background-color);
    // @include transitioned(box-shadow);

    &:hover,
    &:focus {
      color: $hero-color;
      background-color: $accent-color;
      box-shadow: $box-shadow;
    }
  }

  //   .first {
  //     min-width: 73px;
  //     @extend %button;
  //   }

  //   .second {
  //     min-width: 128px;
  //     @extend %button;
  //   }

  //   .third {
  //     min-width: 145px;
  //     @extend %button;
  //   }

  //   .fourth {
  //     min-width: 103px;
  //     @extend %button;
  //   }

  //   .fifth {
  //     min-width: 130px;
  //     @extend %button;
  //   }
}
