.visually-hidden {
  @extend %visually-hidden;
}

.main-container {
  background-color: $hero-color;

  .buttons {
    @extend %list;

    @media screen and (max-width: 767px) {
      display: inline-flex;
      flex-wrap: wrap;
      margin-bottom: 40px;
      margin: -7px -4px;
      margin-bottom: 40px;

      .item {
        margin: 7px 4px;
      }
    }

    .item + .item {
      margin-left: 8px;
    }

    @media screen and (min-width: 768px) {
      display: flex;
      justify-content: center;
      margin-bottom: 30px;
    }

    @media screen and (min-width: 1200px) {
      display: flex;
      justify-content: center;
      margin-bottom: 50px;
    }
  }

  .button {
    @extend %button;
    @include transitioned(color, background-color, box-shadow);

    &:hover,
    &:focus {
      color: $hero-color;
      background-color: $accent-color;
      box-shadow: $box-shadow;
    }
  }
}
