.cards {
  z-index: -1;
  @extend %list;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.list-element {
  outline: 1px solid $button-color;
  background: $hero-color;

  //   nie mogu zakryt
  // &:not(:last-child) {
  //   margin-bottom: 30px;
  // }

  @media screen and (min-width: 768px) {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 90px) / 3);
    margin: 15px;
    // margin-bottom: 30px;
    // nie rabotaet
    // &:not(:nth-last-child(3n + 1)) {
    //   margin-right: 30px;
    // }
  }
}

.link-element {
  @include transitioned(box-shadow);

  &:hover,
  &:focus {
    box-shadow: $box-shadow;
  }
}

.box {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;

  width: 100%;
  height: 100%;

  font-size: 18px;
  line-height: 1.55;

  color: $hero-color;
  background-color: rgba(33, 150, 243, 0.9);

  @include transitioned(transform);

  .link-element:hover &,
  .link-element:focus & {
    transform: translatey(-100%);
  }

  @media screen and(max-width:767px) {
    padding: 77px 24px;
  }

  @media screen and(min-width:768px) {
    padding: 49px 24px;
    font-size: 16px;
  }

  @media screen and(min-width:1200) {
    padding: 63px 24px;
  }
}

.portfolio-element {
  padding: 20px 24px;
}

.portfolio-item {
  @extend %h2;
  text-align: left;

  margin-bottom: 4px;
}

.portfolio-text {
  color: $primery-text-color;

  font-size: 16px;
  line-height: 1.87;
}
