.heading-clients {
  color: $title-text-color;

  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 30px;
}

.list-clients {
  display: flex;
  @extend %list;
  margin: -15px;

  @media screen and (max-width: 1199px) {
    flex-wrap: wrap;
  }
}

.item-clients {
  margin: 15px;

  @media screen and (max-width: 768px) {
    width: calc((100% - 60px) / 2);
  }
  @media screen and (min-width: 768px) {
    width: calc((100% - 90px) / 3);
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 180px) / 6);
  }

  .icon {
    fill: currentColor;
  }
}

.link-clients {
  @include display();

  height: 90px;

  border: 1px solid $link-color;
  border-radius: 4px;

  color: $link-color;

  @include transitioned(color);
  @include transitioned(border);

  &:hover,
  &:focus {
    color: $accent-color;
    border: 1px solid $accent-color;
  }
}
