.logo {
  display: block;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  margin-bottom: 20px;
  color: $accent-color;

  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}

.logo-dark {
  color: $dark-logo-color;
}

.logo-white {
  color: $hero-color;
}
