@mixin transitioned($property) {
  transition: $property 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@mixin display($type: flex, $content: center, $item: center) {
  display: $type;
  justify-content: $content;
  align-items: $item;
}
